OPENAI_BASE_URL="https://models.inference.ai.azure.com"
OPENAI_EMBEDDINGS_URL="https://models.github.ai/inference"
GITHUB_TOKEN=""
LANGSMITH_TRACING=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

#LANGSMITH_TRACING=true
#LANGSMITH_API_KEY=""
#LANGSMITH_API_KEY=""
#LANGSMITH_PROJECT=""
LANGCHAIN_TRACING_V2=""
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""
#====================================================================================================
#====== PARA CARGA DE DATOS ======#
#DB_HOST=
#DB_PORT=
#DB_NAME=
#DB_USER=
#DB_PASSWORD=
